<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.s_t_e.repository.UserMapper">

  <select id="getUserInfoByAccount" parameterType="String" resultType="com.s_t_e.domain.User">
    SELECT 
    	user_id as userId,
    	account,password,nickname,
    	level_exp as levelExp,
    	integral
    FROM user 
    WHERE account = #{account}
  </select>
  
</mapper>