<div class="text-center mt-5">
    <img src="{{userInfo.avatar}}" alt="头像" class="rounded mt-1" style="width:30%;height:21%">
    <h5 class="mt-1">{{userInfo.nickname}}</h5>
    <span class="badge badge-pill badge-info" style="font-size:90%;">{{userInfo.level}}级</span><br />
    <span class="badge badge-pill badge-info" style="font-size:90%">{{userInfo.integral}}积分</span>

    <div class="row justify-content-center" style="margin-top:15%;">
        <div class="col-7">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" id="personalCollectionBtn" style="outline:none">
                    个人收藏
                </button>
                <button type="button" class="list-group-item list-group-item-action" id="personalVideoBtn" style="outline:none">个人栏目</button>
                <button type="button" class="list-group-item list-group-item-action" id="releaseVideoBtn" style="outline:none">发布视频</button>
                <button type="button" class="list-group-item list-group-item-action"
                    id="waitOnlineVideoBtn" style="outline:none">待上线视频</button>
            </div>
        </div>
    </div>
</div>
<script>
    //清除四个导航按钮的active状态
    function clearButtonActive() {
        $("#personalCollectionBtn,#personalVideoBtn,#releaseVideoBtn,#waitOnlineVideoBtn").removeClass("active");
    }

    //个人收藏按钮
    $("#personalCollectionBtn").click(function () {
        clearButtonActive();
        $("#personalCollectionBtn").addClass("active");
        $.ajax({
            xhrFields: { withCredentials: true },
            type: "get",
            url: "http://127.0.0.1:8080/STE/getPersonalCollectProgram",
            success: function (result) {
                $.getScript('/HandlebarsCompiledFile/UserSystem/personalCollectCourseCard.hbs.js').then(() => {
                    let data = new Object;
                    data.personalProgramArray = result;
                    let dataHtml = Handlebars.templates.personalCollectCourseCard(data);
                    $("#personalMainDiv").html(dataHtml);
                });
            }
        });
    });

    //个人栏目按钮
    $("#personalVideoBtn").click(function () {
        clearButtonActive();
        $("#personalVideoBtn").addClass("active");
    });

    //发布视频按钮
    $("#releaseVideoBtn").click(function () {
        clearButtonActive();
        $("#releaseVideoBtn").addClass("active");
        $.ajax({
            xhrFields: { withCredentials: true },
            type: "get",
            url: "http://127.0.0.1:8080/STE/getAllProgramByCurrentUser",
            success: function (result) {
                $.getScript('/HandlebarsCompiledFile/UserSystem/uploadVideo.hbs.js').then(() => {
                    let data = new Object;
                    data.programList = result;
                    let dataHtml = Handlebars.templates.uploadVideo(data);
                    $("#personalMainDiv").html(dataHtml);
                });
            }
        });
    });

    //待上线视频按钮
    $("#waitOnlineVideoBtn").click(function () {
        clearButtonActive();
        $("#waitOnlineVideoBtn").addClass("active");
    });
</script>

{{!-- handlebars ./UserSystem/LearningCommunity/Personal/rightPersonalInfo.handlebars -f ./handlebarsTemplateFile/compiledFile/userSystem/rightPersonalInfo.hbs.js --}}