<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-11 mt-5 offset-1">
      <form>
        <div class="form-group row mt-4">
          <label for="program" class="col-md-3 col-form-label">所属栏目</label>
          <select class="form-control col-md-3" id="programSelect">
            <option value="0">--请选择--</option>
            {{#each programList}}
            <option value="{{programId}}">{{programName}}</option>
            {{/ each}}
          </select>
          <button type="button" class="btn btn-outline-primary offset-1">
            创建栏目
          </button>
        </div>
        <div class="form-group row">
          <label for="videoTitle" class="col-md-3 col-form-label">视频标题</label>
          <input type="text" class="form-control col-md-5" id="videoTitle" />
        </div>
        <div class="form-group row">
          <label for="videoTitle" class="col-md-3 col-form-label">视频序号</label>
          <input type="text" class="form-control col-md-5" id="videoIndex" />
        </div>
        <div class="form-group row mt-4">
          <label for="formControlFile1" class="col-md-3 col-form-label">上传视频</label>
          <input type="file" class="form-control-file col-md-5" id="videoFile" style="padding-left:0%" />
        </div>
        <div class="form-group row mt-4">
          <label for="approvalOpinion" class="col-md-3 col-form-label">面向审批人备注</label>
          <textarea class="form-control col-md-5" rows="5" id="approvalOpinion"></textarea>
        </div>

        <button id="submitButton" type="button" class="btn btn-primary offset-md-3 mt-5">
          确认发布
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  $(function () {

    $("#submitButton").click(function () {
      let parameterData = new FormData();
      parameterData.append("videoFile",$("#videoFile")[0].files[0]);
      parameterData.append("programId",$('#programSelect').val());
      parameterData.append("videoTitle",$('#videoTitle').val());
      parameterData.append("videoIndex",parseInt($('#videoIndex').val()));
      parameterData.append("opinion",$('#approvalOpinion').val());
      
      $.ajax({
        xhrFields: { withCredentials: true },
        type: "post",
        url: "http://127.0.0.1:8080/STE/uploadVideo",
        processData: false, //不处理发送的数据
        contentType: false, //不设置Content-Type请求头
        data: parameterData,
        success: function (data) {
          console.log(data);
        },
        error: function (data) {
          alert(data);
        }
      });
    });

  });
</script>

{{!-- handlebars ./UserSystem/LearningCommunity/Personal/uploadVideo.handlebars -f ./handlebarsTemplateFile/compiledFile/userSystem/uploadVideo.hbs.js --}}