<div class="row rounded mt-3" style="background-color:#f8f9fa; padding-top:1rem; padding-bottom:1rem;">
    <div class="col-4">
        <img src="{{userInfo.avatar}}" alt="头像" class="rounded-circle" style="width:5rem;height:5rem;" />
    </div>
    <div class="col-8 text-center">
        <h5 class="mt-1">{{userInfo.nickname}}</h5>
        <span class="badge badge-pill badge-warning" style="font-size:90%;">{{userInfo.level}}级</span><br />
        <span class="badge badge-pill badge-info" style="font-size:90%">{{userInfo.integral}}积分</span>
    </div>
</div>

<script>

</script>

{{!-- handlebars ./UserSystem/Forum/personalColumn_forum.handlebars -f ./HandlebarsCompiledFile/UserSystem/Forum/personalColumn_forum.hbs.js --}}