<div class="row">
    <div class="col-12">
        {{!-- <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-outline-success" onclick="addMSCModal()"><i
                        class="fa fa-plus"></i></button>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
            </div>
        </div> --}}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">一级分类名称</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {{#if managementCategoryData}}
                {{#each managementCategoryData}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{mLevelOneName}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning"
                            onclick="editManagementSystemCategory('{{mCategoryId}}')"><i
                                class="fa fa-wrench"></i></button>
                    </td>
                </tr>
                {{/each}}
                {{/ if}}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="managementSystemCategoryModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<script>
    {{!-- function addLevelTwoInput() {
        let dynamicHtml =
            "<div class='row' id='row" + Date.now() + "'>" +
            "<div class='col-10'>" +
            "<input type='text' class='form-control' placeholder='二级系统分类' name='levelTwoNameList'>" +
            "</div>" +
            "<div class='col-2 text-right'>" +
            "<button type='button' class='btn btn-outline-danger' onclick=\"subLevelTwoInput('row" + Date.now() + "')\">" +
            "<i class='fa fa-minus-circle'></i>" +
            "</button>" + 
            "</div>" +
            "</div>";

        $("#levelTwo_formGroup").append(dynamicHtml);
    } --}}
    function subLevelTwoInput(divId) {
        $("#" + divId).remove();
    }

    $.getScript("../../handlebarsTemplateFile/compiledFile/mSCModal.hbs.js");//引入modal
    function editManagementSystemCategory(mCategoryId) {
        $.ajax({
            type: "get",
            contentType: "application/json",
            dataType: "json",
            data: {
                "id": mCategoryId
            },
            url: "http://127.0.0.1:8080/STE/getManagementSystemCategoryById",
            success: function (result) {
                let dataHtml = Handlebars.templates.mSCModal(result);
                $("#managementSystemCategoryModal").html(dataHtml);
                $("#managementSystemCategoryModal").modal('show');
            }
        });
    }
    function addMSCModal() {
        let dataHtml = Handlebars.templates.mSCModal();
        $("#managementSystemCategoryModal").html(dataHtml);
        $("#managementSystemCategoryModal").modal('show');
    }

</script>