<div class="row">
    {{#if personalProgramArray}}
    {{#each personalProgramArray}}
    <div class="col-4 mb-2">
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title">{{programName}}</h5>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="card-text">35课时</p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="card-text">考神</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="btn btn-outline-primary">进入学习</a>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-outline-danger">取消收藏</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{/ each}}
    {{/ if}}
</div>