<div class="text-center mt-5">
    <img src="{{userInfo.avatar}}" alt="头像" class="rounded mt-1" style="width:30%;height:21%">
    <h5 class="mt-1">{{userInfo.nickname}}</h5>
    <span class="badge badge-pill badge-info" style="font-size:90%;">{{userInfo.level}}级</span><br/>
    <span class="badge badge-pill badge-info" style="font-size:90%">{{userInfo.integral}}积分</span>

    <div class="row justify-content-center" style="margin-top:15%;">
        <div class="col-7">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    个人收藏
                </button>
                <button type="button" class="list-group-item list-group-item-action">个人视频</button>
                <button type="button" class="list-group-item list-group-item-action">发布视频</button>
                <button type="button" class="list-group-item list-group-item-action">待上线视频</button>
            </div>
        </div>
    </div>
</div>